$accentColor: #2196f3;
$primaryTextColor: #757575;
$transparentColor: rgba(255, 255, 255, 0.6);
$secondaryColor: #212121;

$titletextColor: #ffffff;
// $secondaryColor: #000000;

$footercolor: #2f303a;
// $cardOverlay: rgba(33, 150, 243, 0.9);

$teambackgroundcolor: #f5f4fa;
$teamborder: #EEEEEE;
$teamclientagesolid: #afb1b8;
$teemclientageborder:#E5E5E5;
$teamborderbottom: #ECECEC;



// :root {
//     --primary-text-color: #757575;
//     --title-text-color: #ffffff;
//     --accent-color: #2196f3;
//     --secondary-color: #212121;
//     --transparent-color: rgba(255, 255, 255, 0.6);
//     --footer-color: #2f303a;
//     --team-background-color: #f5f4fa;
//     --team-border-bottom: #ECECEC;
//     --team-border: #EEEEEE;
//     --teem-clientage-border: #E5E5E5;
//     --teen-clientage-solid: #AFB1B8;

// }